# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo cache
.turbo/

# Testing & coverage
coverage/
.nyc_output/

# Env files (only commit .env.example)
.env
.env.local
.env.*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Prisma
packages/db/prisma/migrations/dev/

# Misc
*.pem
.cache/
